<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxf.ModuleA">

    <application>
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity android:name=".ClientActivity" />
    </application>

</manifest>